{% extends 'layout/base.html' %}



{% block content %}
<div class="container my-5 "> 
    <div class="row">
        <div class="col-2 p-2">
            <div class="card">
                <div class="card-body d-grid">
                    <h5 class="card-title">Category</h5>
                    <a href="{% url 'category_list' %}" class="btn btn-sm btn-success">Add Category</a>
                    
                    {% comment %}
                        
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Category
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'category_list' %}">Add</a></li>
                          <li><a class="dropdown-item" href="{% url 'category_edit' category.slug %}">Edit</a></li>
                          <li><a class="dropdown-item" href="{% url 'category_delete' category.slug %}">Delete</a></li>
                        </ul>
                    </div>
                    {% endcomment %}
                        
                    {% comment %}
                    <a href="{% url 'category_edit' category.slug %}" class="btn btn-sm btn-primary">Edit Category</a>            
                    {% endcomment %}

                </div>
            </div>
        </div>
        <div class="col-2 p-2">
            <div class="card">
                <div class="card-body d-grid">
                    <h5 class="card-title">Product</h5>

                    <a href="{% url 'product_create' %}" class="btn btn-sm btn-primary">Add Product</a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}