{% extends 'layout/base_fullscreen.html' %}
{% load static %}

{% block css %}
<style>
    main {
        background-color: aquamarine;
        background-image: url("{% static 'images/cart_item.png' %}");
        background-repeat: no-repeat;
        background-position-x:calc(100% - 100px);
        background-position-y: bottom;
        height: 100%;
    }
</style>
{% endblock css %}


{% block content %}
<div class="container-fluid bg-area">
    <h1 style="text-align: center;padding-top: 30px;">Customer Login</h1>
    <div class="row justify-content-center py-4">
        <div class="col-md-5 border border-3 border-primary p-4 rounded-4">

            <form action="" method="post">
                {% csrf_token %}
                <h2 class="mb-3">
                    Login to your account
                </h2>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="username" id="formId1" placeholder="Your email" />
                    <label for="formId1">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="password" id="formId2"
                        placeholder="Your password" />
                    <label for="formId1">Password</label>
                </div>
                <button class="btn btn-lg btn-primary">Login</button>
                <br>
                <div class="py-4 px-4">
                    Don't have an Account?<a href="{% url 'register' %}">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}