{% extends 'layout/base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form class="card" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <button class="btn btn-primary">
                    <i class="fa fa-plus"></i>Add Product
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}