<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Dj Ecommerce</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page">Home<span
                            class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category_list' %}">Category List</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Action 1</a>
                        <a class="dropdown-item" href="#">Action 2</a>
                    </div>
                </li>
            </ul>

            <form class="d-flex my-2 my-lg-0">
                <input class="form-control me-sm-2" type="text" placeholder="Search" />
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
                    Search
                </button>
            </form>
            <ul class="navbar-nav">

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#" title="cart">
                        <i class="fas fa-shopping-cart text-warning"></i>
                    </a>
                </li>   

                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}" title="dashboard">
                        <i class="fas fa-user"></i>
                    </a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#" title="dashboard">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" title="logout">
                        <i class="fas fa-sign-out-alt text-danger"></i>
                    </a>
                </li>
                {% else %}

                <li class="nav-item">
                    <a class="nav-link ms-2 border rounded-3 border-light text-light "
                        href="{% url 'seller_login' %}">Seller Login

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}" title="login">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}" title="register">
                        <i class="fas fa-user-plus"></i>
                    </a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>