{% load cart_tags %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">DJ Ecommerce</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index' %}" aria-current="page">Home <span
                            class="visually-hidden">(current)</span></a>
                </li>
                {% comment %}
                {% if user.is_authenticated and user.groups.all.0.name == 'seller' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category_list' %}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product_create' %}">Add Product</a>
                </li>
                {% endif %}
                {% endcomment %}


                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product_list' %}">Products</a>
                </li>
            </ul>
            <form class="d-flex my-2 my-lg-0">
                <input class="form-control me-sm-2" type="text" placeholder="Search" />
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
                    Search
                </button>
            </form>
            <ul class="navbar-nav px-2">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link px-2" href="{% url 'show_cart' %}" title="cart">
                        <i class="fas fa-shopping-cart text-warning"></i>
                        <!-- ?? -->
                        {% cart_item_count as item_count %}                       
                        {% if item_count %}
                        <span class="badge bg-danger">{{ item_count }}</span>
                        {% endif %}

                    </a>
                </li>
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}" title="dashboard">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                {% else %}
                {% if user.is_authenticated and user.groups.all.0.name == 'seller' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'seller_dashboard' %}" title="dashboard">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                {% elif user.is_authenticated and user.groups.all.0.name == 'customer' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}" title="dashboard">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                {%endif %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" title="logout">
                        <i class="fas fa-sign-out-alt text-danger"></i>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'seller_login' %}" class="nav-link me-5 text-light ">Seller Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}" title="login">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}" title="register">
                        <i class="fas fa-user-plus"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

</nav>